<body style="margin: 0; background: rgba(255, 255, 255, 1)">
    <input type="hidden" id="anPageName" name="page" value="privateaccessmobile" />
    <div class="privateaccessmobile anima-screen">
      <div class="anima-container-center-horizontal">
        <div class="stacked-group-C61RwL">
          <div class="a-text-fie-focus-copy-SHDHHB">
            <div class="placeholder-wCV6X2 font-class-1">USUÁRIO</div>
            <div class="placeholder-e1XhMV font-class-1">breno.redigolo@redigolo.com.br</div>
          </div>
          <div class="a-text-field-focus-SHDHHB">
            <div class="placeholder-KvfIof font-class-2">******</div>
            <div class="placeholder-oYA4xn font-class-1">SENHA</div>
          </div>
          <div class="button-primary-SHDHHB" routerLink="/dashboard" routerLinkActive="active">
            <div class="a-padding-frame-fTHjfJ"></div>
            <div class="label-button-fTHjfJ">Entrar</div>
          </div>
          <div class="este-site--51-privado-SHDHHB font-class-2">
            Este site é privado e as informações só podem ser vista por quem possui a senha.
          </div>
        </div>
      </div>
      <div class="anima-container-center-horizontal">
        <div class="rectangle-C61RwL"></div>
      </div>
      <div class="anima-container-center-horizontal">
        <div class="ah4-C61RwL">Digite a senha para acessar<br />o Dashboard da Lejour</div>
      </div>
      <div class="anima-container-center-horizontal">
        <div class="logo-white-C61RwL">
          <div class="logo-white-kqVDal">
            <img class="shape-XptlID" src="../../../assets/img/privateaccessmobile-shape-61122025-9E76-4B98-93B5-598C105E8DFF@2x.png" />
            <img class="shape-x4x3mF" src="../../../assets/img/privateaccessmobile-shape-A47E0994-ADA8-4C14-9F5C-096AAF2F1360@2x.png" />
            <img class="shape-sxiShI" src="../../../assets/img/privateaccessmobile-shape-0C5BD87B-BAD6-4D4E-A727-0F7784614D7C@2x.png" />
            <img class="shape-Eectqn" src="../../../assets/img/privateaccessmobile-shape-4BE28355-3A4E-4339-9116-1F2B2BC55C4F@2x.png" />
            <img class="shape-aeZUbZ" src="../../../assets/img/privateaccessmobile-shape-9D30580D-48C6-4B61-9042-AA181610A85A@2x.png" />
            <img class="path-XptlID" src="../../../assets/img/privateaccessmobile-path-617FE11D-5204-4F91-B009-A589961FD466@2x.png" />
          </div>
        </div>
      </div>
    </div>
    <div class="privateaccessdesktop anima-screen">
      <div class="background-C61RwL"></div>
      <div class="anima-container-center-horizontal">
        <div class="content-C61RwL">
          <div class="stacked-group-xUsx1L">
            <div class="a-subtitle-6En43k">
              <div class="padding-group-2-acdOm6">
                <div class="ah4-NFwxJV">Digite a senha para acessar o Dashboard da Lejour</div>
              </div>
              <div class="rectangle-acdOm6"></div>
            </div>
            <div class="stacked-group-6En43k">
              <div class="a-text-fie-focus-copy-o5Lsx0">
                <div class="placeholder-EHtP8X font-class-1">USUÁRIO</div>
                <div class="placeholder-FXxIF6 font-class-1">breno@redigolo.com</div>
              </div>
              <div class="a-text-field-focus-o5Lsx0">
                <div class="placeholder-eMYIHA font-class-2">******</div>
                <div class="placeholder-3I6zGu font-class-1">SENHA</div>
              </div>
              <div class="button-primary-o5Lsx0" routerLink="/dashboard" routerLinkActive="active">
                <div class="label-button-aKjthC">Entrar</div>
              </div>
              <div class="este-site--51-privado-o5Lsx0 font-class-2">
                Este site é privado e as informações só podem ser vista por quem possui a senha.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="anima-container-center-horizontal">
        <div class="logo-white-C61RwL">
          <div class="logo-white-kqVDal">
            <img
              class="shape-XptlID"
              src="../../../assets/img/privateaccessdesktop-shape-81304DF3-0414-4826-AFD3-CA710D94BC55@2x.png"
            />
            <img
              class="shape-x4x3mF"
              src="../../../assets/img/privateaccessdesktop-shape-37005FCD-5D6B-4E2F-866B-196873072A4D@2x.png"
            />
            <img
              class="shape-sxiShI"
              src="../../../assets/img/privateaccessdesktop-shape-D2ED7577-E504-4887-A7BA-FF2186093FA9@2x.png"
            />
            <img
              class="shape-Eectqn"
              src="../../../assets/img/privateaccessdesktop-shape-2117E528-D484-4D04-9428-183027E4F71A@2x.png"
            />
            <img
              class="shape-aeZUbZ"
              src="../../../assets/img/privateaccessdesktop-shape-298B3127-A605-4720-821D-B119B9CD27A4@2x.png"
            />
            <img class="path-XptlID" src="../../../assets/img/privateaccessdesktop-path-693E61C0-3C49-4493-B933-598C52CC8706@2x.png" />
          </div>
        </div>
      </div>
    </div>
  </body>