<link rel="shortcut icon" href="./../../../assets/img/favicon.png" />
  <body style="margin: 0; background: rgba(255, 255, 255, 1)">
    <input type="hidden" id="anPageName" name="page" value="dashboarddesktop" />
    <div class="anima-container-center-horizontal">
      <div class="dashboarddesktop anima-screen">
        <img
          class="line-vertical-C61RwL"
          src="../../../assets/img/dashboarddesktop-line-vertical-5BCD3FA3-C6DD-4D4F-880D-E1561C4EE611.png"
        />
        <img
          class="line-horizontal-C61RwL"
          src="../../../assets/img/dashboarddesktop-line-horizontal-8F5CFE79-672E-4AD2-AC2A-8CEB238920EC.png"
        />
        <div class="exit-button-C61RwL"></div>
        <div class="grafico-C61RwL">
            <router-outlet></router-outlet>
        </div>
        <div class="sair-C61RwL font-class-1" routerLink="/login" routerLinkActive="active">SAIR</div>
        <div class="coluna-3-C61RwL" routerLink="/dashboard/noivos" routerLinkActive="active">
          <div class="noivos-WMkRLZ font-class-1">Noivos</div>
        </div>
        <div class="coluna-2-C61RwL" routerLink="/dashboard/financeiro" routerLinkActive="active">
          <div class="fornecedores-vA6nB5 font-class-1">Financeiro</div>
        </div>
        <div class="coluna-1-select-C61RwL" routerLink="/dashboard/fornecedores" routerLinkActive="active">
          <div class="dados-financeiros-KOnsG6 font-class-2">Fornecedores</div>
          <div class="select-KOnsG6"></div>
        </div>
        <div class="filtro-C61RwL">
          <div class="group-pps8Cx">
            <img class="path-BpcFXv" src="../../../assets/img/dashboarddesktop-path-7936663B-B6D6-4975-9226-A37AAB2FCDDB@2x.png" />
            <img class="path-hOkYHz" src="../../../assets/img/dashboarddesktop-path-0CFE2A22-3BE2-4C22-9254-7893C00ACCE8@2x.png" />
            <img class="path-n95Ifc" src="../../../assets/img/dashboarddesktop-path-0CFE2A22-3BE2-4C22-9254-7893C00ACCE8@2x.png" />
            <img class="path-60TO7A" src="../../../assets/img/dashboarddesktop-path-0CFE2A22-3BE2-4C22-9254-7893C00ACCE8@2x.png" />
            <img class="path-NzJzqT" src="../../../assets/img/dashboarddesktop-path-0CFE2A22-3BE2-4C22-9254-7893C00ACCE8@2x.png" />
            <img class="path-LArIg1" src="../../../assets/img/dashboarddesktop-path-0CFE2A22-3BE2-4C22-9254-7893C00ACCE8@2x.png" />
            <img class="path-mmjDgw" src="../../../assets/img/dashboarddesktop-path-0CFE2A22-3BE2-4C22-9254-7893C00ACCE8@2x.png" />
            <img class="path-yIR5x1" src="../../../assets/img/dashboarddesktop-path-0CFE2A22-3BE2-4C22-9254-7893C00ACCE8@2x.png" />
            <img class="path-CgxkF8" src="../../../assets/img/dashboarddesktop-path-0CFE2A22-3BE2-4C22-9254-7893C00ACCE8@2x.png" />
            <img class="path-YddN1g" src="../../../assets/img/dashboarddesktop-path-D164241A-574D-41A9-8A8E-8C4706119966@2x.png" />
          </div>
          <div class="filtro-pps8Cx">Filtro</div>
          <div class="data-pps8Cx font-class-2">Data</div>
          <div class="fornecedores-pps8Cx font-class-1">Fornecedores</div>
          <img
            class="group-713-pps8Cx"
            src="../../../assets/img/dashboarddesktop-group-713-701245FF-2D83-4E18-9CF1-978E7E13328D@2x.png"
          />
          <div class="filteralt-24px-pps8Cx"></div>
        </div>
        <div class="title-C61RwL">
          <div class="group-BLt5hU">
            <div class="rectangle-ZIjFRu"></div>
          </div>
          <div class="ah4-BLt5hU">Dashboard</div>
        </div>
        <div class="logo-white-C61RwL">
          <div class="logo-white-kqVDal">
            <img class="shape-XptlID" src="../../../assets/img/privateaccessmobile-shape-61122025-9E76-4B98-93B5-598C105E8DFF@2x.png" />
            <img class="shape-x4x3mF" src="../../../assets/img/privateaccessmobile-shape-A47E0994-ADA8-4C14-9F5C-096AAF2F1360@2x.png" />
            <img class="shape-sxiShI" src="../../../assets/img/privateaccessmobile-shape-0C5BD87B-BAD6-4D4E-A727-0F7784614D7C@2x.png" />
            <img class="shape-Eectqn" src="../../../assets/img/privateaccessmobile-shape-4BE28355-3A4E-4339-9116-1F2B2BC55C4F@2x.png" />
            <img class="shape-aeZUbZ" src="../../../assets/img/privateaccessmobile-shape-9D30580D-48C6-4B61-9042-AA181610A85A@2x.png" />
            <img class="path-XptlID" src="../../../assets/img/privateaccessmobile-path-617FE11D-5204-4F91-B009-A589961FD466@2x.png" />
          </div>
        </div>
      </div>
    </div>
  </body>